<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:include="/header"></th:block>
</head>
<body>
	<th:block th:include="/menu1"></th:block>
	<div class="banner">
		<div class="container">
			<div class="banner_desc">
				<h1>Hello, there</h1>
				<h2>Shop safely from the comfort of your home.</h2>
				<div class="button">
					<a href="/login" class="hvr-shutter-out-horizontal">Shop Now</a>
				</div>
			</div>
		</div>
	</div>
	<th:block th:include="/footer"></th:block>
</body>
</html>
