<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="/header"></th:block>
<body>
	<th:block th:include="/menu2"></th:block>
	<div class="container">
		<div class="check">
			<div class="col-md-9 cart-items">
				<h1>View Cart &nbsp;&nbsp;&nbsp;&nbsp;<a style="float: right" href="/ordercart" >Checkout</a></h1>
				<div class="cart-header" th:each="product : ${products}">
					<div class="cart-sec simpleCart_shelfItem">
						<div class="cart-item cyc">
							<img th:src="@{'productimages/'+${product.imageName}}" class="img-responsive" alt="" />
						</div>
						<div class="cart-item-info">
							<h3>
								<a href="#" th:text="@{${product.name}}"></a>
							</h3>
							<div class="delivery">
								<p th:text="@{'Price:'+${product.price}}"></p> &nbsp;&nbsp;&nbsp;&nbsp;
								<a th:href="@{/deletecart(id=${product.id})}">Cancel</a>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block th:include="/footer"></th:block>
</body>
</html>
